<h1>Players</h1>
<div class="row">
  <div class="well well-lg">
    Testing sideloading async=false relationships.
  </div>
</div>
<div class="row">
  {{#each}}
    <div class="col-lg-6 player" style="min-height:300px">
      <h2>{{name}} - {{squad.name}}</h2>
      <h4>Weapons</h4>
      <ol class="weapons">
        {{#each weapons}}
          <li>
            {{name}}
            {{#if attachments}}
              <ul>
                {{#each attachments}}
                  <li>{{name}}</li>
                {{/each}}
              </ul>
            {{/if}}
          </li>
        {{/each}}
      </ol>
      <h4>Medals</h4>
      <ol class="medals">
        {{#each medals}}
          <li>{{name}}</li>
        {{/each}}
      </ol>
    </div>
  {{/each}}
</div>